<div class="top-bar">
    <div class="container-fluid d-flex justify-content-between align-items-center px-4">
        <div class="top-left">
            <i class="fa-solid fa-phone"></i> (+91) 9523267360
            <span class="ms-3 text-white"><i class="fa-solid fa-envelope"></i> memorymakers@gmail.com</span>
        </div>
        <div class="top-right">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter mx-3"></i>
            <i class="fab fa-linkedin-in"></i>
            <span class="ms-4">Sign in / Sign up</span>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid px-4">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-paper-plane"></i> Memory Makers
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Flights</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Hotels</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Holidays</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cabs</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Buses</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cruise</a></li>
            </ul>
        </div>
    </div>
</nav>