* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ================= HEADER BACKGROUND ================= */
.header-wrapper {
    width: 100%;
    min-height: 100vh;
    background: url("/lib/images/des3.jpg") center/cover no-repeat;
    position: relative;
    color: #fff;
    background-attachment: fixed;
    image-rendering: -moz-crisp-edges;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: bgSlider 10s infinite;
}

.overlay {
    position: relative;
    z-index: 2;
}
/* Background animation*/
@keyframes bgSlider {
    0% {
        background-image: url(/lib/images/des1.jpg);
    }

    25% {
        background-image: url(/lib/images/des2.jpg);
    }

    50% {
        background-image: url(/lib/images/des4.jpg);
    }

    75% {
        background-image: url(/lib/images/des5.jpg);
    }

    100% {
        background-image: url(/lib/images/des4.jpg);
    }
}



.header-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.header-wrapper > * {
    position: relative;
    z-index: 2;
}

/* ================= TOP BAR ================= */
.top-bar {
    font-size: 14px;
    padding: 8px 0;
}

.top-right i {
    cursor: pointer;
}

/* ================= NAVBAR ================= */
.navbar {
    padding: 15px 0;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
}

/* ================= HERO ================= */
.hero-content {
    margin-top: 120px;
}

    .hero-content h1 {
        font-size: 48px;
        font-weight: 700;
    }

    .hero-content p {
        font-size: 16px;
        margin-top: 10px;
    }

/* ================= HERO TABS ================= */
.hero-tabs {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

    .hero-tabs span {
        cursor: pointer;
        opacity: 0.7;
    }

/*    .hero-tabs .active {
        background: #2daae1;
        padding: 10px 20px;
        border-radius: 50px;
        opacity: 1;
    }
*/


/* ================= FLOATING SEARCH ================= */
.search-panel {
    position: relative;
    margin-top: -70px;
    z-index: 5;
}

.search-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
}

    .search-box label {
        font-size: 14px;
        color: #777;
    }

/* ================= NEXT SECTION ================= */
.next-section {
    padding: 120px 0 80px;
    background: #f7f7f7;
}
